/* HEADER */
.header-container {
  position: fixed;
  top: 54px;
  width: 100%;
}

.header-padding {
  padding: 0 7.5%;
}

.header-text {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: -2px;
  display: inline-block;
}

.header-title:hover {
  color: pink;
  cursor: default;
}

.header-x {
  float: right;
  cursor: pointer;
}

.header-text u {
  text-decoration: none;
  border-bottom: 2px solid white;
}

.header-text u:hover {
  border-bottom: 2px solid yellow;
  cursor: pointer;
}

/* POSTS */
section {
  padding-top: 196px;
  padding-bottom: 72px;
}

.return {
  text-align: center;
}

.return a {
  font-size: 20px;
}

/* POST */
article {
  margin: 0 auto 192px auto;
  padding: 196px auto 72px auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

/* POST: Images */
.images {
  width: 75%;
  margin: 0 auto;
}

.images:hover {
  cursor: s-resize;
}

.images img {
  width: 100%;
  margin-bottom: -4px;
}

/* POST: Information */
.information-container {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  padding: 0 6% 0 8%;
}

.information {
  width: 60%;
}

.information a {
  font-size: 20px;
  line-height: 28px;
}

.information u {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid;
}

/* POST: Tags */
.tags {
  margin: 0;
  padding: 0;
  width: 30%;
}

.tags li {
  display: inline;
  font-size: 20px;
  line-height: 28px;
}

.tags li:not(:last-child):after {
  content: ", ";
}

/* COLORS */
.yellow:hover a {
  color: #fec800;
}

.purple:hover a {
  color: #522087;
}

.red:hover a {
  color: #d11215;
}

.blue:hover a {
  color: #1daafc;
}

.pink:hover {
  color: pink;
  cursor: pointer;
}
