/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header-container {
  position: fixed;
  top: 54px;
  /* padding: 0 7.5% 0 7.5%; */
  width: 100%;
  /* margin-top: 54px; */
}

.header-container-2 {
  padding: 0 7.5%;
}

.header-text {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: -2px;
  display: inline-block;
}

.header-x {
  float: right;
}

.post {
  margin: 0 auto 192px auto;
  background-color: blue;
  width: 75%;
  padding: 196px auto 72px auto;
}

section {
  padding-top: 196px;
  padding-bottom: 72px;
}


/* Links */

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: none;
}

#folder-studio {
  text-decoration: none;
  border-bottom: 2px solid white;
}

#folder-studio:hover {
  color: white;
  border-bottom: 2px solid yellow;
}

u {
  text-decoration: none;
  border-bottom: 2px solid white;
}

u:hover {
  border-bottom: 2px solid yellow;
}

.fake-link:hover {
  color: pink;
}